<div class="container px-5 px-sm-0">
  <div class='row'>
    <div class="col-md-12 px-5 px-sm-0">
   <table class='table border-bottom'>
    <thead class="bg-light">
      <tr>
       <th>会員ID</th>
       <th>氏名</th>
       <th>メールアドレス</th>
       <th>ステータス</th>
     </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>

        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.name,admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.active_for_authentication? %>
              <p class="text-success font-weight-bold">有効</p>
            <% else %>
              <p class="text-secondary font-weight-bold">退会</p>
            <% end %>
          </td>
        </tr>
      <% end %>
     </tbody>
    </table>
    </div>
  </div>
</div>
<div class=" d-flex mb-3 justify-content-center">
  <%= paginate @customers %>
</div>