<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto textsh">ABOUT <i class="fas fa-cat"></i><strong>Cats Lab</strong><i class="fas fa-paw"></i></h1>
    <div class="d-flex mx-auto justify-content-center" style="height:500px;">
      <h2>ようこそCats Labへ！トップページよりお進みください！</h2>
    </div>
  </div>
</div>