<div class="container-fuild overflow-hidden">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiperimg"><%= image_tag 'cat2', class:"swiperimg" %></div>
          <div class="swiper-slide swiperimg"><%= image_tag '25081154_m', class:"swiperimg" %></div>
          <div class="swiper-slide swiperimg"><%= image_tag '25195488_s', class:"swiperimg" %></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="col-11">
        <div class="col-12">
          <h2 class="text-black text-center font_header">
            ようこそ、Cats Labへ！</br>
            このサイトは、猫用品のレビューサイトです！</br>
            ゲストユーザーとして投稿の閲覧はできますが、</br>
            投稿をするにはユーザー登録が必要になります。</br>
            </br>
            ゲストログインはこちらから！
          </h2>
          <div class="text-center"><%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post,class: "btn btn-success btn-bg " %></div>
        </div>
    </div>
  </div>
</div>

