<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiperimg"><%= image_tag asset_path('cat2.jpg'), class:"swiperimg" %></div>
          <div class="swiper-slide swiperimg"><%= image_tag asset_path('25081154_m.jpg'), class:"swiperimg" %></div>
          <div class="swiper-slide swiperimg"><%= image_tag asset_path('25195488_s.jpg'), class:"swiperimg" %></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="col-11 mt-3 bg-white">
        <div class="col-12">
          <h3 class="text-black text-center font_header">
            ようこそ、Cats Labへ！</br>
            このサイトは、猫用品のレビューサイトです！</br>
            ゲストユーザーとしてレビューとコメントの</br>
            投稿ができますが、一定期間で削除されます。</br>
            投稿を残すにはユーザー登録が必要になります。</br>
            </br>
            ゲストログインはこちらから！
          </h3>
            </br>
          <div class="text-center mb-5"><%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post,class: "btn btn-success btn-bg " %></div>
        </div>
    </div>
  </div>
</div>

