<div class="container-fluid px-5 px-sm-0">
  <div class="serchebar d-flex justify-content-center mb-3">
    <%= render 'public/searches/search' %>
  </div>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= render 'index', items: @items %>
    </div>
  </div>
</div>

