<div class="container-fluid px-5 px-sm-0">
  <div class="serchebar d-flex justify-content-center mb-3">
    <%= render 'public/searches/search' %>
  </div>
  <div class="col-6 mx-auto">
  <div class='row row-cols-1 row-cols-md-3 g-4'>
    <%= render 'index', items: @items %>
  </div>
  </div>
</div>

